
.fondo-verde{
    background-color: aquamarine;
    height: 500px;
    text-align: center;
    
}
.perfil img {
    height: 275px;

}

.fondo-verde{
    padding-top: 50px;
}
.fondo-verde h1::selection{
 background-color: transparent ;    
}