
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0% ,rgba(0,162,255,1) 100%);
    
}
.perfil img {
    height: 275px;

}


.fondo{
    padding-top: 50px;

}
.fondo h1::selection{
 background-color: transparent ;    
}

.footer{
    background: rgb(0,162,255);
    background: linear-gradient(45deg, rgba(0,162,255,1) 0%,  rgba(2,0,36,1) 100%);

}
.a{
    height: 85vh;
}

.form-row input{
    margin-bottom: 3rem;
}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.enviar{
    padding: 0 10px!important; 
}


