
body{
    background-image: url(img/12067352_4884841.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.foto{
    border-radius: 1000px;
    width: 35%;

}
.titulo{color: rgb(0, 255, 0);}
.img-thumbnail{
    border-radius: 100px;
}
.fondo{
    padding-top: 50px;
}

.letras-efecto{text-shadow: 0 0 0.1em #fff, 0 0 0.1em #fff,0 0 0.1em #fff}


.fondo h1::selection{
 background-color: transparent ;    
}

.footer{
    background: rgb(0,162,255);
    background: linear-gradient(45deg, rgba(0,162,255,1) 0%,  rgba(2,0,36,1) 100%);

}
.a{
    height: 85vh;
}

.form-row input{
    margin-bottom: 3rem;
}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.enviar{
    padding: 0 10px!important; 
}


@media (max-width: 1000px) {
    .foto{
        width: 100%;
    
    }
}